h3 {
  color: #F15A29;
}
.txtOrenge {
  color: #F15A29;
}
.jumbotron {
  background-image: url("../../assets/images/backgrounds/foodsBg.jpg");
  margin: inherit;
}
.nav {
  background-color: white;
  padding:30px;

}
.img2NavBar {
  float:right;
}
.img3NavBar {

}
.p3NavBar {
  text-align:center;
}
.p4NavBar {
  float: right;
}
.companyIntro {
  text-align: center;
  margin:auto;
}
.imgNavBar {
  padding: 30px;
}
.centerAlign {
  text-align: center;
}
.pIntro {
  color: white;
  font-size: 28px;
  font-family:'Markazi Text', serif;
}
.pWhite {
  color: white;
}
#rowFooter {
  background-color:#ed6a40;
  text-align: center;
}

#introduction {
  background-image: url("../../assets/images/backgrounds/landing.jpg");
  text-align: center;
  font-family:'Markazi Text', serif;

}
#btnMenu {
  background-color:#ed6a40;
  borde: none;
  color:white;
  padding:20px ;
  text-align: center;
  text-decoration:underline;
  display: inline-block;
  font-size: 16px;
  margin: 20px 100px 200px
}
#rowPreviewBr {
  background-image: url("../../assets/images/foodtop/breakfast.jpg");
  text-align: center;
}
#rowPreviewBr: hover {
  opacity: 0.3;
  filter: alpha(opacity=30);
}
#rowPreviewLn {
  background-image: url("../../assets/images/foodtop/lunch.jpg");
  text-align:center;
}
#rowPreviewDn {
    background-image: url("../../assets/images/foodtop/dinner.jpg");
    text-align:center;
}
#rowPreviewTm {
  background-color: #EDEDED;
  padding:0px;

}
#rowCustomer {
  padding: 100px;
}
#rowNavbar {
}
#picColRowDescriptionFd {
  padding: 20px;
}
#txtColRowDescriptionFd {
  padding: 20px;
}
#CardpicColFdRowDescription {
  border: 2px solid #EDEDED;

}
#cardTxtColRowDescriptionFd {
  padding-top: 10px;
  margin-bottom: 50px;
}
#btnViewMenuFD {
  borde: none;
  color:#F15A29;
  padding:1px ;
  text-align: center;
  text-decoration:none;
  display: inline-block;
  font-size: 16px;
  margin: 20px 0px 20px 20px
}
.pHappyHour {
  text-align: center;
  padding: 10px;
}
.pPartyTime {
  background-color:#F15A29;
  color: white;
  text-align: center;
  margin-bottom: 0;
  padding: 10px;
}
.uniformSixe: hover {
 padding: 100px;
}
#cardColRowNavBar{
  margin:100px;
  background-color: white;

}
#colRowNavBar {
  background-image: url("../../assets/images/backgrounds/foodsBg.jpg");
}
#colSubscribe {
  background-image: url("../../assets/images/backgrounds/subscribe.jpg");
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
