p {
  text-align: center;
}
#introduction {
  background-image: url("../../assets/images/backgrounds/landing.jpg");
}
#btnMenu {
  background-color:#ed6a40;
  borde: none;
  color:white;
  padding:20px ;
  text-align: center;
  text-decoration:underline;
  display: inline-block;
  font-size: 16px;
  margin: 20px 100px 200px

}
.pIntro {
  text-align: center;

}
#menuPreviewBr {
  background-image: url("../../assets/images/foodtop/breakfast.jpg");
  align-content: center;
}
#menuPreviewLn {
  background-image: url("../../assets/images/foodtop/lunch.jpg");
  text-align:center;
}
#menuPreviewDn {
    background-image: url("../../assets/images/foodtop/dinner.jpg");
    text-align:center;
}
#menuPreviewTm {
  background-color: #EDEDED;
}
