
.jumbotron {
  background-image: url("../../assets/images/backgrounds/foodsBg.jpg");
  margin: inherit;
}
.nav {
  background-color: white;
  padding:30px;

}
.img2NavBar {
  float:right;
}
.img3NavBar {

}
.p3NavBar {
  text-align:center;
}
.p4NavBar {
  float: right;
}
#introduction {
  background-image: url("../../assets/images/backgrounds/landing.jpg");
  text-align: center;

}
#btnMenu {
  background-color:#ed6a40;
  borde: none;
  color:white;
  padding:20px ;
  text-align: center;
  text-decoration:underline;
  display: inline-block;
  font-size: 16px;
  margin: 20px 100px 200px

}
.companyIntro {
  text-align: center;
  margin:auto;
}
.imgNavBar {
  padding: 30px;
}

}
#rowPreviewBr {
  background-image: url("../../assets/images/foodtop/breakfast.jpg");
  align-content: center;
}
#rowPreviewLn {
  background-image: url("../../assets/images/foodtop/lunch.jpg");
  text-align:center;
}
#rowPreviewDn {
    background-image: url("../../assets/images/foodtop/dinner.jpg");
    text-align:center;
}
#rowPreviewTm {
  background-color: #EDEDED;
}
#cardColRowNavBar{
  margin:30px;

}
#colRowNavBar {
  background-image: url("../../assets/images/backgrounds/foodsBg.jpg");
}
